@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.widget {
  height: 300px;
  width: 450px;
  position: relative;
  margin-top: 6rem;
  background: rgba(178, 171, 171, 0.3);
  border-radius: 16px;
  font-family: "Open Sans";
}

.widget:hover {
  -webkit-transform: scale(1.1) perspective(1500px) rotateY(20deg);
  transform: scale(1.1) perspective(1500px) rotateY(20deg);
}
.weatherIcon {
  background: rgba(178, 171, 171, 0.3);
  height: 70%;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.downRow {
  height: 30%;
}

.weatherData {
  background-color: #2e3336;
  height: 100%;
  width: 80%;
  position: relative;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 3.7rem;
  padding-left: 12px;
}

.descAndCity {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.date {
  background-color: #4dbde2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 20%;
  border-bottom-right-radius: 10px;
}

h1 {
  color: #c5cdcf;
  font-weight: 200;
  font-size: 3.9375em;
}

h2 {
  color: #8f9b9d;
  font-weight: 200;
  font-size: 1.1875em;
}

h3 {
  color: #c5cdcf;
  font-weight: 400;
  font-size: 0.8125em;
}

h4 {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.6875em;
}

h5 {
  color: #fff;
  font-weight: 500;
  font-size: 1.8125em;
  line-height: 28px;
}

@media (max-width: 650px) {
  .widget {
    width: 370px;
  }
  .widget .weatherData .temperature {
    font-size: 2.9375em;
  }
  .widget .weatherData {
    gap: 2rem;
  }
  .widget .descAndCity,
  .widget .date {
    gap: 0;
  }
}
