@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0 0.3rem;
  font-family: "Roboto" Arial !important;
  overflow-x: hidden;
  background-image: url("/public/icons/defaultPhoto.jpeg");
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  /* 
  animation: grow 25s ease infinite alternate-reverse;
  animation-delay: 2s; */
}

.App {
  /* height: 100vh; */
}

@keyframes grow {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 110%;
  }
}

.App {
  text-align: center;
}
