@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0 0.3rem;
  font-family: "Roboto" Arial !important;

  overflow-x: hidden;
  /* background: linear-gradient(-45deg, #292f36, #4ecdc4, #ff6b6b, #ffe66d); */
  /* background-size: 100% ; */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  animation:  125s ease infinite;
  /* height: 100vh; */
}

.App {
  text-align: center;
}
